<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
	crossorigin="anonymous">

<title>Gas Mileage Calculator</title>
</head>
<body>
<section class="bg-secondary pt-5 pb-5">
	<div class="container">
		<h2>Gas Mileage Calculator</h2>
		<h4>Search for your car</h4>

		<form th:action="@{/search}" th:object="${carSearch}" method="post"
			class="form">
			<div class="form-group" id="carMake">
				<label for="make">Car Make:</label>
				<input class="form-control" type="text" th:field="*{carMake}"
					id="carMake" placeholder="Make">
			</div>

			<div class="form-group" id="carModel">
				<label for="model">Car Model:</label>
				<input class="form-control" type="text" th:field="*{carModel}"
					id="carModel" placeholder="Model">
			</div>


			<div class="form-group" id="carYear">
				<label for="year">Year:</label> 
				<input class="form-control" type="number" th:field="*{year}" id="year" placeholder="Year">
			</div>
				<br> <input type="submit" class="btn btn-success"
					value="Search">
		</form>
		
		<table class="table table-bordered table-danger">
		<thead>
			<tr class="thead-dark">
				<th>Car Make</th>
				<th>Car Model</th>
				<th>Year</th>
				<th>Highway MPG</th>
				<th>City MPG</th>
			<tr />
		<thead />
		<tbody>
 		<tr th:each="theFaculty : ${faculties}">
		<td th:Text="${car.carMake}"/>
		<td th:Text="${car.carModel}"/>
		<td th:Text="${car.year}"/>
		<td th:text="${car.highwayMPG}"/>
		<td th:text="${car.cityMPG}"/>
		
		</tbody>
	</table>
	</div>
	</section>
  <div
  class="bg-image"
  style="
    background-image: url('https://cdn-ds.com/blogs-media/sites/400/2019/08/31092933/ways-to-improve-gas-mileage_b.jpg');
    height: 50vh;
  "
></div>
</body>
</html>