<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
	crossorigin="anonymous">

<title>Gas Mileage Calculator</title>

</head>
<body>
<section class="bg-dark pt-5 pb-5 bg-gradient">
<div class="container">
	<h1 class="text-danger " style="text-align:center;"><mark class="bg-secondary bg-gradient text-danger" style="--bs-bg-opacity: .1;">Gas Mileage Calculator</mark></h1>
		<br>
		<h4 class="text-light font-weight-bold"><mark class="bg-secondary bg-gradient text-light" style="--bs-bg-opacity: .18;">Search for your car</mark></h4>
	<label class="text-white" >Please fill out the fields below: </label>
	
<form action="#" th:action="@{/Vehicles/save}" th:object="${vehicles}" method="POST">

<!-- Invisible Form as Needed to Update Info -->
<input type="hidden" th:field="*{id}"/>


<input type="text" th:field="*{carMake}"
class="form-control mb-4 col-4" placeholder="Car Make" >

<input type="text" th:field="*{carModel}"
class="form-control mb-4 col-4" placeholder="Car Model" >

<input type="text" th:field="*{year}"
class="form-control mb-4 col-4" placeholder="Car Year" >

<input type="text" th:field="*{highwayMPG}"
class="form-control mb-4 col-4" placeholder="Highway MPG" >

<input type="text" th:field="*{cityMPG}"
class="form-control mb-4 col-4" placeholder="City MPG" >



<button type="submit" class="btn btn-danger col-2">Register</button>

</form>

<a class="btn btn-primary" data-bs-toggle="collapse"th:href="@{/Vehicles/list}"
role = "button" aria-expanded="false" aria-controls="collapseExample">Return to Vehicle List</a>
   
</div>
</section>
  <div
  class="bg-image"
  style="
    background-image: url('https://cdn-ds.com/blogs-media/sites/400/2019/08/31092933/ways-to-improve-gas-mileage_b.jpg');
    height: 260px;
  "
></div>

</body>
</html>

